/***** INDEX.HTML *****/
.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 55px;
  height: 25px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #A9A9A9;
  transition: background-color ease 0.3s;
    box-shadow: 0 0 5px 2px #FF00D8;

}

.toggle:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 25px;
  background: #FF00D8;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -25px;
  word-spacing: 34px;
  color: black;
  /* text-shadow: -1px -1px rgba(0,0,0,0.15); */
  white-space: nowrap;
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.2); */
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;

}

.toggle:checked {
  background-color: #CAFFFE;
}

.toggle:checked:before {
  left: 32px;
}

label {
  text-align: left;
}

.p5Canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 15px;
}

body{
  font-family: 'Jura', sans-serif;
  background-color: black;
  color: red;
}

p{
  margin: 0; /*remove default margins*/
}

a:hover {
  text-decoration: none;
}

.header-section {
  font-family: 'Cabin Sketch', cursive;
  width: 100%;
  text-align: center;
  font-size: 50px;
  letter-spacing: 4px;
  padding: 10px;
  color: #CAFFFE;
  text-shadow: 2px 2px 4px #FF00D8;
}

.header-section a{
  color: #CAFFFE;
}

.header-section a:hover{
  text-shadow: 5px 5px 6px #FF00D8;
  text-decoration: none;
}

.subheader-section {
  color: #CAFFFE;
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding-bottom: 10px;
}

.menu-div {
  padding-top: 20px;
  max-width: 550px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #CAFFFE;
  font-size: 16px;
}

.menu-row {
  padding-top: 10px;
}

/* Style the collapsible that is used to open and close the collapsible content */
.collapsible {
  text-align: center;  
}

.collapsible a{
  color: #FF00D8 !important; 
  cursor: pointer;
  width: 20%;
  border: none;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  text-align: left;
  color: #CAFFFE !important;
  font-size: 15px;
}

ol {
  padding-left: 13px;
}

li {
  padding-bottom: 5px;
}

.startButton {
  /* box-shadow:inset 0px 1px 0px 0px #fbafe3; */
  background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
  /* background:linear-gradient(to bottom, #FF00D8 10%, #CAFFFE 100%); */
  /* background-color:#FF00D8; */
  border-radius:23px;
  /* border:2px solid #ee1eb5; */
  border:1px solid #CAFFFE;
  display:inline-block;
  cursor:pointer;
  color:#CAFFFE;
  /* color: black; */
  font-family:Courier New;
  font-size:15px;
  font-weight:bold;
  padding:11px 42px;
  text-decoration:none;
  /* text-shadow:1px 1px 0px navy; */
}
.startButton:hover {
  background:linear-gradient(to bottom, #FF00D8 5%, #ff5bb0 100%);
  background-color:#ef027d;
}
.startButton:active {
  position:relative;
  top:1px;
}

.center {
  margin: 0;
/*  position: absolute;
*/  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/**** button formatting on index.html ****/
/* class applies to select element itself, not a wrapper element */
.list {
  display: inline;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 3px;
  /*padding: .6em 1.4em .5em .8em;*/
  width: 30%;
  max-width: 50%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color:#CAFFFE;
  box-shadow: 0 0 5px 2px #FF00D8;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
    for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
    
  */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #CAFFFE 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right .7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.list::-ms-expand {
  display: none;
}
/* Hover style */
.list:hover {
  border-color: #888;
  box-shadow: 0 0 5px 2px #FF00D8;

}
/* Focus style */
.list:focus {
  border-color: #CAFFFE;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #FF00D8; 
  box-shadow: 0 0 5px 2px #FF00D8;

  outline: none;
}

/* Set options to normal weight */
.list option {
  font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .list, :root:lang(ar) .list, :root:lang(iw) .list {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.list:disabled, .list[aria-disabled=true] {
  color: graytext;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.list:disabled:hover, .list[aria-disabled=true] {
  border-color: #CAFFFE;
}


/***** ABOUT.HTML *****/
.card-border {
  border: 2px solid #FFADF3;
  box-shadow: 0 0 5px 2px #FF00D8;
}

.card {
  margin: auto;
  float: none;
  max-width: 200px;
  background-color: inherit;
  color: #CAFFFE;
}

.about-section {
  padding: 20px;
  text-align: center;
  background-color: black;
  color: #FF00D8;
}

.about-section-text {
  max-width: 600px;
  margin: auto;
  padding: 5px;
  text-align: left;
  background-color: black;
  color: #CAFFFE;
}

.about-section-text p{
  padding-bottom: 20px;
}

.developer-section {
  max-width: 700px;
  margin: auto;
  padding: 5px;
}

.icon {
  color: #FF00D8;
}
